In [2]:
string = "하룻강아지 범 무서운 줄 모른다."

In [3]:
print(string[6:13])

범 무서운 줄

In [4]:
print(string[8:11], string[2:5])

무서운 강아지

In [39]:
print(string[:5] + "\n" + "\"" + string[6] + "\"" + "\n" + string[8:])

하룻강아지
"범"
무서운 줄 모른다.

In [27]:
print("백문이 불여일견\n백견이 불여일행")

백문이 불여일견
백견이 불여일행

In [11]:
age = 20
fruit = "포도"
print(f"내 나이는 {age}살이며, {fruit}를 좋아해요.")

내 나이는 20살이며, 포도를 좋아해요.

In [13]:
print("저는 \"이찬빈\"입니다.")

저는 "이찬빈"입니다.

In [1]:
age = int(input("나이를 입력하시오."))
ticket = 1300

if age >= 65 :
    ticket = 0
print("나이 : %d세" %age)
print("입장료 : %d원" %ticket)

나이를 입력하시오.20
나이 : 20세
입장료 : 1300원

In [13]:
num = int(input("양의 정수를 입력하세요."))
result = "3의 배수도, 4의 배수도 아니다."
if num % 3 == 0 and num % 4 == 0 :
    result = "3의 배수이고, 4의 배수이다."
elif num % 3 == 0 :
    result = "3의 배수이다."
elif num % 4 == 0 :
    result = "4의 배수이다,"
print("%d은(는) %s" %(num, result))

양의 정수를 입력하세요.36
36은(는) 3의 배수이고, 4의 배수이다.

In [16]:
score = int(input("점수를 입력하세요."))
if score >= 90 :
    if score >= 95 :
        grade = "A+"
    else :
        grade = "A"
elif score >= 80 :
    if score >= 85 :
        grade = "B+"
    else :
        grade = "B"
elif score >= 70 :
    if score >= 75 :
        grade = "C+"
    else :
        grade = "C"
elif score >= 60 :
    if score >= 65 :
        grade = "D+"
    else :
        grade = "D"
else :
    grade = "F"
    
print("등급 : ",grade)

점수를 입력하세요.55
등급 :  F

In [17]:
for i in range(5) :
    print("안녕하세요.")

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

In [18]:
sum = 0
for i in range(1, 11) :
    sum += i
    print("i의 값 : %d => 합계 : %d" % (i, sum))

i의 값 : 1 => 합계 : 1
i의 값 : 2 => 합계 : 3
i의 값 : 3 => 합계 : 6
i의 값 : 4 => 합계 : 10
i의 값 : 5 => 합계 : 15
i의 값 : 6 => 합계 : 21
i의 값 : 7 => 합계 : 28
i의 값 : 8 => 합계 : 36
i의 값 : 9 => 합계 : 45
i의 값 : 10 => 합계 : 55

In [19]:
for i in range(10) :
    print(i)
    print("a")
    if i == 5 :
        print("b")
        break
        print("c")
print("d")

0
a
1
a
2
a
3
a
4
a
5
a
b
d

In [20]:
for i in range(10) :
    print(i)
    if i < 5 :
        continue
    elif i == 7 :
        break

0
1
2
3
4
5
6
7

In [6]:
class_score = [90,30,60]
type(class_score)

list

In [20]:
total = 0
i = 500
while i < 601 :
    if i % 5 == 0 :
        total += i
    i += 1
print("5의 배수 합계: %d" %(total))

5의 배수 합계: 11550

In [2]:
for i in range(1, 1001):
    print(i)
    if i == 555:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555

In [18]:
matrix_a = [[3, 6], [4, 5]]
matrix_b = [[5, 8], [6, 7]]
[t for t in zip(matrix_a, matrix_b)]

[([3, 6], [5, 8]), ([4, 5], [6, 7])]

In [23]:
del sum

In [26]:
matrix_a = [[3, 6], [4, 5]]
matrix_b = [[5, 8], [6, 7]]
result = [[sum(row) for row in zip(*t)] for t in zip(matrix_a, matrix_b)]
print(result)

[[8, 14], [10, 12]]

In [32]:
matrix_a = [[1, 2, 3], [4, 5, 6]]
matrix_b = [[7, 8], [9, 10], [11, 12]]
result = [[sum(row) for row in zip(*t)] for t in zip(matrix_a, matrix_b)]
print(result)

[[8, 10], [13, 15]]

In [42]:
matrix_a = [[1, 2, 3], [4, 5, 6]]
matrix_b = [[7, 8], [9, 10], [11, 12]]
result = [[sum(a * b for a, b in zip(row_a, column_b)) for column_b in zip(*matrix_b)] for row_a in matrix_a]
result

[[58, 64], [139, 154]]

In [ ]:
#하나의 스칼라 값 벡터에 곱하는 코드 작성




scalar_vector_product(3, [1, 2, 3, 5])

In [ ]:
#2개 이상의 행렬 더하는 코드 작성




matrix_y = [[2, 5], [2, 1]]
matrix_z = [[2, 4], [5, 3]]
matrix_addition(matrix_y, matrix_z)

In [38]:
def add(x, y):
    z = x + y
    print("%d + %d = %d" %(x, y, z))
    
add(12, 15)
add(356,296)
add(-29, 30)

12 + 15 = 27
356 + 296 = 652
-29 + 30 = 1

In [41]:
def sum_int(x, y):
    z = 0
    for i in range(x, y + 1):
        z += i
    print("%d ~ %d 정수 합계: %d" %(x, y, z))
sum_int(10, 12)
sum_int(600, 800)
sum_int(-20, 21)

10 ~ 12 정수 합계: 33
600 ~ 800 정수 합계: 140700
-20 ~ 21 정수 합계: 21

In [45]:
def cir_area():
    global r
    result = r ** 2 * 3.14
    return result
def cir_length():
    global r
    result = r * 2 * 3.14
    return result

r = float(input("반지름을 입력하세요: "))
area = cir_area()
length = cir_length()
print("원의 면적: %.1f, 원주의 길이: %1f" %(area, length))

원의 면적: 314.0, 원주의 길이: 62.800000

In [52]:
def count_word(s):
    a = s.split(" ")
    count = 0
    for i in range(len(a)):
        print(a[i])
        count += 1
    print(count)
    
count_word("I am a student.")

I
am
a
student.
4

In [2]:
class SoccerPlayer:
    def __init__(self, height, weight):
        print("[객체 생성 완료]")
        self.new_height = height
        self.new_weight = weight
        print("height = " + str(self.new_height) + ", weight = " + str(self.new_weight))
    
    def shoot(self):
        print("슛을 합니다.")
        print("슛~")
        
    def pass_to_player(self):
        print("패스를 합니다.")
      
player1 = SoccerPlayer(170, 80)
player1.new_height

[객체 생성 완료]
height = 170, weight = 80

170

In [11]:
player2 = SoccerPlayer()
player2.shoot()

[객체 생성 완료]
슛을 합니다.
슛~

In [9]:
player3 = SoccerPlayer(height = 180, weight = 70)

print(player3.new_height)
print(player3.new_weight)

[객체 생성 완료]
height = 180, weight = 70
180
70

In [10]:
player4 = SoccerPlayer(175, 75)

[객체 생성 완료]
height = 175, weight = 75

In [1]:
class Human:
    def __init__(self, height, weight):
        self.new_height = height
        self.new_weight = weight
        
    def walk(self):
        print("걸어다닙니다.")
        
class Athlete(Human):
    def __init__(self, height, weight, fat_rate) :
        super().__init__(height, weight)
        self.new_fat_rate = fat_rate
    
    def workout(self):
        print("운동을 합니다.")
        
h2 = Athlete(180, 85, 10)
h2.walk()
h2.workout()

걸어다닙니다.
운동을 합니다.

In [2]:
class TennisPlayer(Athlete):
    
    def workout(self):
        print("테니스를 합니다.")
        
h4 = TennisPlayer(180, 60, 10)
h4.walk()
h4.workout()

걸어다닙니다.
테니스를 합니다.

In [8]:
class circle:
    def __init__(self, r):
        self.r = r;
    def get_area(self):
        area = self.r * self.r * 3.14
        return area
    def get_circumference(self):
        circumference = self.r * 2 * 3.14
        return circumference
        
radius = float(input("원의 반지름:"))
circle1 = circle(radius)

print("반지름 : %d" %radius)
print("원의 둘레 : %.2f" % circle1.get_circumference())
print("원의 면적 : %.2f" % circle1.get_area())

원의 반지름:10
반지름 : 10
원의 둘레 : 62.80
원의 면적 : 314.00

In [3]:
try:
    print("나누기만 할 수 있는 계산기")
    nums = []
    nums.append(int(input("첫 번째 숫자 :")))
    nums.append(int(input("두 번째 숫자 :")))
    #nums.append(int(nums[0] / nums[1]))
    print("{0} / {1} = {2}".format(nums[0], nums[1], nums[2]))
except ValueError:
    print("에러! 잘못된 형식의 값 입력")
except ZeroDivisionError as err:
    print(err)
except Exception as err:
    print("알 수 없는 에러")
    print(err)

나누기만 할 수 있는 계산기
첫 번째 숫자 :6
두 번째 숫자 :3
알 수 없는 에러
list index out of range

In [4]:
try:
    print("한 자리 숫자만 나눌 수 있는 계산기")
    num1 = int(input("첫 번째 숫자를 입력하세요: "))
    num2 = int(input("두 번째 숫자를 입력하세요: "))
    if num1 >= 10 or num2 >= 10:
        raise ValueError
    print("{0} / {1} = {2}" .format(num1, num2, int(num1 / num2)))
except ValueError:
    print("잘못된 값을 입력, 한 자리 숫자만 입력")
except ZeroDivisionError:
    print("0으로 나누지 마세요")
else:
    print(num1 + num2)

한 자리 숫자만 나눌 수 있는 계산기
첫 번째 숫자를 입력하세요: 5
두 번째 숫자를 입력하세요: 0
0으로 나누지 마세요

In [29]:
class BigNumberError(Exception):
    def __init__(self, msg):
        self.msg = msg
    def __str__(self):
        return self.msg
    
try:
    print("한 자리 숫자만 나눌 수 있는 계산기")
    num1 = int(input("첫 번째 숫자를 입력하세요: "))
    num2 = int(input("두 번째 숫자를 입력하세요: "))
    if num1 >= 10 or num2 >= 10:
        raise BigNumberError("입력값: {0}, {1}" .format(num1, num2))
    print("{0} / {1} = {2}" .format(num1, num2, int(num1 / num2)))
except ValueError:
    print("잘못된 값을 입력, 한 자리 숫자만 입력")
except BigNumberError as err:
    print("에러 발생, 한 자리 숫자만 입력")
    print(err)
finally:
    print("감사합니다")

한 자리 숫자만 나눌 수 있는 계산기
첫 번째 숫자를 입력하세요: 9
두 번째 숫자를 입력하세요: 3
9 / 3 = 3
감사합니다

In [1]:
sentence = list("Hello World")
while (len(sentence) + 1):
    try:
        print(sentence.pop(0))
    except Exception as err:
        print(err)
        break

H
e
l
l
o

W
o
r
l
d
pop from empty list

In [2]:
for i in range(3):
    try:
        print(i, 3 // i)
    except ZeroDivisionError :
        print("Not Divided by 0")

Not Divided by 0
1 3
2 1

# 안녕하세요
## 안녕하세요
### 안녕하세요
#### 안녕하세요

>첫번째
>>두번째
>>>세번째

*하나만쓰면*
**두개를쓰면**
~~물결을쓰면~~

In [5]:
print(28 + 1.5 * 3)
print(3 % 9)
print(11 // 3)
print(3 ** 3 + 7 % 4)

32.5
3
3
30

In [9]:
string = "하룻강아지 범 무서운 줄 모른다"
print(string[6:14])
print(string[8:11], string[2:5])
print(string[:5] + '\n' + "\"" + string[6] + "\"" + '\n' + string[8:])

범 무서운 줄
무서운 강아지
하룻강아지
"범"
무서운 줄 모른다

In [6]:
my_dict = dict(new_key = 456, my_key = 1000)
print(my_dict)

{'new_key': 456, 'my_key': 1000}

In [5]:
score = [87, 29, 91, 57, 50, 72, 84, 97, 48, 60, 19, 35, 81]
print(score.index(max(score)))

score[10] = 79

score.remove(29)

score.sort()
print(score)

7
[35, 48, 50, 57, 60, 72, 79, 81, 84, 87, 91, 97]

In [21]:
tuple1 = (1, 2, 3)
tuple2 = (5, 6, 7)
tuple3 = tuple1 + tuple2
print(len(tuple3))

6

In [39]:
a = {"서울특별시" : 9715429, "부산광역시" : 3402776, "인천광역시" : 2945565, "경기도" : 13351891}
print(a["경기도"])

13351891

In [41]:
a["세종특별자치시"] = 346217
print(a)

{'서울특별시': 9715429, '부산광역시': 3402776, '인천광역시': 2945565, '경기도': 13351891, '세종특별자치시': 346217}

In [43]:
f = lambda x, y : x + y
f(3, 4)

7

In [44]:
list1 = [1, 2, 3, 4, 5]
f = lambda x : x ** 2
print(list(map(f, list1)))

[1, 4, 9, 16, 25]

In [2]:
scores = {"수학" : 20, "영어" : 50, "코딩" : 90}
for subject, score in scores.items():
    print(subject.ljust(8), str(score).rjust(4), sep = ":")

수학      :  20
영어      :  50
코딩      :  90

In [7]:
for num in range(1, 21):
    print("대기번호 : " + str(num).zfill(3))

대기번호 : 001
대기번호 : 002
대기번호 : 003
대기번호 : 004
대기번호 : 005
대기번호 : 006
대기번호 : 007
대기번호 : 008
대기번호 : 009
대기번호 : 010
대기번호 : 011
대기번호 : 012
대기번호 : 013
대기번호 : 014
대기번호 : 015
대기번호 : 016
대기번호 : 017
대기번호 : 018
대기번호 : 019
대기번호 : 020

In [11]:
lan1 = "국어"
lan2 = "수학"
lan3 = "영어"
print(lan1, lan2, lan3, sep = " and ")
print(lan1, lan2, lan3, sep = "와 ", end = " 중에서 ")
print("무엇이 더 재미있나요?")

국어 and 수학 and 영어
국어와 수학와 영어 중에서 무엇이 더 재미있나요?

In [27]:
scores = {"미적분" : 75, "통계학" : 87, "일본어" : 9}
for subject, score in scores.items():
    print(subject.ljust(8) + ":  " + str(score).zfill(3))

미적분     :  075
통계학     :  087
일본어     :  009

In [30]:
"백신 접종률은 %d%%입니다" %95

'백신 접종률은 95%입니다'

In [48]:
print("%10s" %"Hello")
print("%-10s" % "Hello")
print("%-10sChoi" % "Hello")
print("I eat {0} {1} {2}" .format("Pizza", "Chicken", "Pasta"))
print("{0:<10}" .format("Hi"))
print("{0:>10}" .format("Hi"))
print("{0:^10}" .format("Hi"))
print("{0:-^10}" .format("Hi"))
print("{0:!<10}" .format("Hi"))
print("{0:,}" .format(22211201290))

     Hello
Hello
Hello     Choi
I eat Pizza Chicken Pasta
Hi
        Hi
    Hi
----Hi----
Hi!!!!!!!!
22,211,201,290

In [7]:
kor = 95
eng = 82
math = 85
total = kor + eng + math
avg = total / 3
print("1) 합계 : %d, 평균 : %.3f" %(total, avg) )
print("2) 합계 : %5d, 평균 : %8.3f" %(total, avg) )
print("3) 합계 : %-5d, 평균 : %e" %(total, avg) )

1) 합계 : 262, 평균 : 87.333
2) 합계 :   262, 평균 :   87.333
3) 합계 : 262  , 평균 : 8.733333e+01

In [15]:
scores = {"미적분" : 75, "통계학" : 87, "일본어" : 9}
f = open("score.txt", "w", encoding='utf8')
f.write("미적분 : " + "%d" %scores["미적분"])
f.write("\n통계학 : " + "%d" %scores["통계학"])
f.write("\n일본어 : " + "%d" %scores["일본어"])
f.close()

In [17]:
score_file = open("score.txt", "r", encoding='utf8')
print(score_file.read())
score_file.close()

미적분 : 75
통계학 : 87
일본어 : 9

In [24]:
class Father:
    def __init__(self, father_name):
        self.father_name = father_name
    def print_father(self):
        print("부모 : " + self.father_name)
        
class Child(Father):
    def __init__(self, name1, name2):
        Father.__init__(self, name1)
        self.child_name = name2
    def print_child(self):
        print("아이 : " + self.child_name)
        
father1 = Father("김부모")
father1.print_father()
child1 = Child("박부모", "박자식")
child1.print_father()
child1.print_child()

부모 : 김부모
부모 : 박부모
아이 : 박자식

In [26]:
class TV(object):
    def __init__(self, size, year, company):
        self.size = size
        self.year = year
        self.company = company
    def describe(self):
        print(self.company + "에서 만든 " + self.year + "년형 " + self.size + "인치 TV")

class Laptop(TV):
    def describe(self):
        print(self.company + "에서 만든 " + self.year + "년형 " + self.size + "인치 노트북")
        
LG_TV = TV("32", "2021", "LG")
LG_TV.describe()

Samsung_Notebook = Laptop("15", "2020", "삼성")
Samsung_Notebook.describe()

LG에서 만든 2021년형 32인치 TV
삼성에서 만든 2020년형 15인치 노트북

In [27]:
import time
print(time.ctime())

Sun Apr 24 23:36:50 2022

In [28]:
import theater_price as tp
tp.price(3)
tp.price_morning(4)
tp.price_soldier(3)

3명 가격은 30000원 입니다.
4명 조조 할인 가격은 24000원 입니다.
3명 군인 할인 가격은 12000원 입니다.

In [3]:
from theater_price import *
price(3)
price_morning(4)
price_soldier(3)

3명 가격은 30000원 입니다.
4명 조조 할인 가격은 24000원 입니다.
3명 군인 할인 가격은 12000원 입니다.

In [2]:
from theater_price import price, price_morning
price(3)
price_morning(4)
price_soldier(3)
#price_soldier는 안되는게 정상

3명 가격은 30000원 입니다.
4명 조조 할인 가격은 24000원 입니다.

NameError: name 'price_soldier' is not defined

In [1]:
from Calculator import *

print(add(3, 5))
print(sub(3, 5))
print(mul(3, 5))
print(div(3, 5))
print(mod(3, 5))

8
-2
15
0.6
3

In [4]:
print(__name__)

__main__

In [5]:
import random
import inspect
print(inspect.getfile(random))

C:\ProgramData\Anaconda3\lib\random.py

In [6]:
import folium
m = folium.Map(location = [37.2, 127.0])
m

In [1]:
from question import *
yes_or_no.ox()
high_or_low.quiz()

AttributeError: module 'question' has no attribute 'yes_or_no'